<template>
	<div>
		<data-table repository="search" title="Przeszukaj bazę danych" :empty-list-search-mode="true">
			<template slot="table-row" slot-scope="{ entry }">
				<td class="collapsing">
					<i class="icon" :class="getRepositoryIcon(entry.repository)"></i>
				</td>
				<td>
					<router-link :to="{ name: 'tag.entry', params: { slug: entry.slug } }">
						{{ entry.label }}
					</router-link>
				</td>
			</template>
		</data-table>
	</div>
</template>

<script>
	import DataTable from "../../Layout/Components/DataTable"

	export default {
		components: {
			DataTable,
		},
		methods: {
			getRepositoryIcon(repository) {
				switch(repository) {
					case "author": return "user";
					case "tag": return "hashtag";
					case "book": return "book";
					case "language": return "globe";
					default: return "question mark"
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
</style>
