<template>
	<div id="app">
		<application-header></application-header>
		<div class="ui container" id="content">
			<router-view></router-view>
		</div>
		<application-footer></application-footer>
	</div>
</template>

<script>
	import ApplicationFooter from "./Layout/Footer.vue"
	import ApplicationHeader from "./Layout/Header.vue"

	export default {
		components: {
			ApplicationFooter,
			ApplicationHeader
		}
	}
</script>

<style lang="scss">
	@import "../assets/globals";

	#app {
		width: 100%;
		display: flex;
		flex-direction: column;
		min-height: 100vh;

		#content {
			position: relative;
			flex: 1;
			margin-bottom: 3em;

			section {
				background: rgba(Black, 0.25);
				padding: 3em;
				margin-bottom: 3em;

				&.header {
					padding: 1.5em 3em;
					margin-bottom: 1.5em;
				}

				&.invisible {
					background: none;
					padding: 0;
					margin: 0;
				}

				&.grid {
					display: flex;
				}

				&.quarter.column {
					margin: 0 1.5em 3em;

					&:first-of-type {
						margin-left: 0;
					}

					&:last-of-type {
						margin-right: 0;
					}

					&.one { flex: 1; }
					&.two { flex: 2; }
					&.three { flex: 3; }
					&.four { flex: 4; }
				}
			}
		}
	}

	.table.options {
		position: absolute;
		right: 3em;
		top: 1.75em;
		font-size: 12px;

		.option.button {
			border: 1px Orange solid;
			background: none;
			color: Orange;
			padding: .75em 1.5em;
			margin-left: .75em;
			cursor: pointer;
		}
	}
</style>
