<template>
	<footer>
		<a href="https://lumen.laravel.com/" target="_blank">
			<img src="../../../static/lumen.png" class="ui image" alt="Lumen">
		</a>
		<a href="https://vuejs.org/" target="_blank">
			<img src="../../../static/vue.png" class="ui image" alt="Vue">
		</a>
	</footer>
</template>

<script>
	export default {
	}
</script>

<style lang="scss" scoped>
	footer {
		display: flex;
		align-content: center;
		justify-content: center;
		padding-bottom: 5em;

		img {
			width: 64px;
			opacity: .25;
			transition: all .5s ease-in-out;

			&:hover {
				opacity: 1;
			}
		}
	}
</style>
