<template>
	<div id="navigation">
		<div class="ui container">
			<router-link :to="{ name: 'index' }" class="item">
				<img src="../../../static/tineidae.png" alt="" class="brand logo">
			</router-link>
			<router-link :to="{ name: item.route }" class="item" v-for="item in items" :class="getItemClass(item)" :key="item.label">
				{{ item.label }}
			</router-link>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				items: [
					{ label: "książki", route: "book.list", category: "books" },
					{ label: "autorzy", route: "author.list", category: "authors" },
					{ label: "języki", route: "language.list", category: "languages" },
					{ label: "tagi", route: "tag.list", category: "tags" },
					{ label: "nośniki", route: "device.list", category: "devices" },
					{ label: "statystyki", route: "statistics", category: "statistics" },
					{ label: "szukaj", route: "search", category: "search" },
				]
			}
		},
		methods: {
			getItemClass(item) {
				let itemClass = ""

				if(item.additionalClass) {
					itemClass += item.additionalClass
				}

				if(this.$route.meta.category === item.category) {
					itemClass += " active"
				}

				return itemClass
			}
		}
	}
</script>

<style lang="scss">
	@import "../../assets/variables";

	#navigation {
		min-height: 4em;
		background: rgba(Black, 0.25);
		margin-bottom: 3em;
		font-family: "Montserrat", serif;

		.container {
			display: flex;
			justify-content: center;
		}

		.item {
			line-height: 4em;
			text-transform: uppercase;
			padding: 1em;

			&.active {
				color: $brand_color;
			}

			.brand.logo {
				font-weight: bold;
				color: $brand_color;
				height: 4em;
				margin-bottom: -1.5em;
			}
		}
	}
</style>
