<template>
	<div class="book list">
		<h3>Czytane książki</h3>
		<table class="ui very basic compact inverted table">
			<thead>
				<tr class="minor">
					<td class="collapsing"></td>
					<td>tytuł</td>
					<td>język</td>
					<td>stron</td>
					<td>wydana</td>
					<td>przeczytana</td>
				</tr>
			</thead>
			<tbody>
			<tr v-for="book in books">
				<td>
					<router-link :to="{ name: 'book.entry', params: { slug: book.slug } }">
						<img class="ui mini image" :src="book.cover" :alt="book.title">
					</router-link>
				</td>
				<td>
					<router-link :to="{ name: 'book.entry', params: { slug: book.slug } }">
						<span class="major">{{ book.title }}</span><br>
						<span class="smaller minor">{{ book.original.title }}</span>
					</router-link>
				</td>
				<td>
					<router-link :to="{ name: 'language.entry', params: { slug: book.reading.language.slug } }">
						<i class="flag" :class="book.reading.language.symbol"></i>
						{{ book.reading.language.name }}
					</router-link>
				</td>
				<td>{{ book.pages }}</td>
				<td>{{ book.original.publication }}</td>
				<td>{{ book.reading.when }}</td>
			</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
	export default {
		props: {
			books: {
				type: Array,
				required: true
			},
		},
	}
</script>

<style lang="scss">
</style>
