<template>
	<div class="details">
		<hr>
		<div class="ui three inverted gray statistics">
			<div class="statistic" v-if="author.dates.birth || author.dates.death">
				<div class="value" v-if="author.dates.birth && !author.dates.death">
					{{ author.dates.birth }}
				</div>
				<div class="text value" v-else-if="author.dates.birth && author.dates.death">
					{{ author.dates.birth }}<br>
					{{ author.dates.death }}
				</div>
				<div class="value" v-else>
					{{ author.dates.death }}
				</div>
				<div class="label" v-if="author.dates.birth && !author.dates.death">urodzony</div>
				<div class="label" v-else-if="author.dates.birth && author.dates.death">lata życia</div>
				<div class="label" v-else>zmarły</div>
			</div>
			<div class="statistic" v-else>
				<div class="text value">
					brak<br>danych
				</div>
				<div class="label">
					lata życia
				</div>
			</div>

			<div class="statistic">
				<div class="text value">
					<router-link :to="{ name: 'language.entry', params: { slug: author.language.slug } }">
						język<br>
						{{ author.language.name }}
					</router-link>
				</div>
				<div class="label">
					język prac
				</div>
			</div>
			<div class="statistic">
				<div class="value">
					<i class="icon" :class="author.gender.icon"></i>
				</div>
				<div class="label">
					{{ author.gender.name }}
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			author: {
				type: Object,
				required: true
			},
		},
	}
</script>

<style lang="scss" scoped>
</style>
