<template>
	<div>
		<h1>{{ author.firstName }} <strong>{{ author.lastName }}</strong></h1>
	</div>
</template>

<script>
	export default {
		props: {
			author: {
				type: Object,
				required: true
			},
		},
	}
</script>

<style lang="scss" scoped>
	h1 {
		margin-bottom: 0;
		font-size: 2.5em;
	}
</style>
