<template>
	<div class="portrait navigation">
		<img :src="author.portrait" :alt="author.title" class="ui image">
	</div>
</template>

<script>
	export default {
		props: {
			author: {
				type: Object,
				required: true
			},
		},
	}
</script>

<style lang="scss">
	.portrait.navigation {
		position: relative;

		.navigator {
			display: none;
		}

		&:hover > .navigator {
			display: block;
			position: absolute;
			top: 50%;

			&.left { left: .5em; }
			&.right { right: .25em; }
		}
	}
</style>
