<template>
	<div v-if="language">
		<section class="header">
			<h1>
				Język {{ language.name }}
			</h1>
		</section>
		<div class="ui inverted secondary pointing menu">
			<div class="active item">autorzy</div>
			<div class="item">napisane</div>
			<div class="item">przeczytane</div>
		</div>
		<section>
			<table class="ui very basic compact inverted table">
				<thead>
					<tr>
						<td class="collapsing"></td>
						<td>nazwisko</td>
						<td>imię</td>
					</tr>
				</thead>
				<tbody>
					<tr v-for="author in language.authors">
						<td>
							<router-link :to="{ name: 'author.entry', params: { slug: author.slug } }">
								<img class="ui mini image" :src="author.portrait" :alt="author.firstName + author.lastName">
							</router-link>
						</td>
						<td>
							<router-link :to="{ name: 'author.entry', params: { slug: author.slug } }">
								<strong>{{ author.lastName }}</strong>
							</router-link>
						</td>
						<td>
							<router-link :to="{ name: 'author.entry', params: { slug: author.slug } }">
								{{ author.firstName }}
							</router-link>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
	<loader v-else></loader>
</template>

<script>
	export default {
		data() {
			return {
				language: null,
			}
		},
		mounted() {
			this.setPageTitle("Język");
			this.fetchData()
		},
		methods: {
			fetchData() {
				this.$http.get("/languages/" + this.$route.params.slug).then(response => {
					this.language = response.data.data
					this.setPageTitle("Język " + this.language.name)
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.language.card {
		display: flex;

		.language.details {
			padding: 0em 3em;
			width: 100%;
		}
	}
</style>
