<template>
	<div>
		<data-table repository="languages" title="Lista języków" :enable-search-box="true">
			<template slot="table-header">
				<tr>
					<td>
						język
						<sort-toggler column="name"></sort-toggler>
						<i class="ghosted search icon"></i>
					</td>
					<td>
						autorów
						<sort-toggler column="authorsCount"></sort-toggler>
					</td>
					<td class="collapsing">
						napisanych książek
						<sort-toggler column="booksCount"></sort-toggler>
					</td>
					<td class="collapsing">
						przeczytanych książek
						<sort-toggler column="readsCount"></sort-toggler>
					</td>
				</tr>
			</template>
			<template slot="table-row" slot-scope="{ entry }">
				<td>
					<router-link :to="{ name: 'language.entry', params: { slug: entry.slug } }">
						<i class="flag" :class="entry.symbol"></i>
						{{ entry.name }}
					</router-link>
				</td>
				<td>
					{{ entry.authorsCount }}
				</td>
				<td>
					{{ entry.booksCount }}
				</td>
				<td>
					{{ entry.readsCount }}
				</td>
			</template>
		</data-table>
	</div>
</template>

<script>
	import DataTable from "../../Layout/Components/DataTable"
	import SortToggler from "../../Layout/Components/SortToggler"

	export default {
		components: {
			DataTable,
			SortToggler
		},
	}
</script>

<style lang="scss" scoped>
</style>
