@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "variables";

body {
	background: Black url("../../static/cartographer.png");
	font-family: "Montserrat", serif;
	width: 100%;
	color: White;
}

h1 {
	font-weight: bold;
}

hr {
	margin: 1.5em 0;
	opacity: .25;
}

a {
	color: inherit;

	&:active, &:hover {
		color: $brand_color;
	}
}

thead {
	opacity: .5;
}

.hidden {
	display: none;
}

.major {
	font-weight: bold;
}

.minor {
	opacity: .5;
}

.hiding {
	opacity: .25;
}

.ghosted {
	opacity: .25 !important;
}

.smaller {
	font-size: .95em;
}

.ui.dimmer {
	background: none;
}

.ui.statistics {
	align-items: center !important;

	.statistic > .label {
		opacity: .5;
		margin-top: .5em !important;
	}
}

.menu {
	margin-bottom: 0 !important;

	.item:hover {
		background: none !important;
	}
}