<template>
	<div v-if="book">
		<section class="book card">
			<div class="book cover">
				<cover :book="book"></cover>
			</div>
			<div class="book details">
				<titles :book="book"></titles>
				<authors :authors="book.authors"></authors>
				<description :description="book.description"></description>
				<tags :tags="book.tags"></tags>
			</div>
		</section>
		<section class="invisible grid">
			<section class="three quarter column">
				<book-details :book="book"></book-details>
			</section>
			<section class="one quarter column">
				<device :device="book.device"></device>
			</section>
		</section>
		<section class="invisible grid">
			<section class="one quarter column">
				<repeat-status :status="book.reading.repeated"></repeat-status>
			</section>
			<section class="three quarter column">
				<reading :reading="book.reading"></reading>
			</section>
		</section>
	</div>
	<div v-else>
		<div class="ui active dimmer">
			<div class="ui loader"></div>
		</div>
	</div>
</template>

<script>
	import Authors from "./Components/Authors.vue"
	import BookDetails from "./Components/Details.vue"
	import Cover from "./Components/Cover.vue"
	import Description from "./Components/Description.vue"
	import Device from "./Components/Device.vue"
	import Reading from "./Components/Reading.vue"
	import RepeatStatus from "./Components/RepeatStatus.vue"
	import Tags from "./Components/Tags.vue"
	import Titles from "./Components/Titles.vue"

	export default {
		components: {
			Authors,
			BookDetails,
			Cover,
			Description,
			Device,
			Reading,
			RepeatStatus,
			Tags,
			Titles,
		},
		data() {
			return {
				book: null
			}
		},
		mounted() {
			this.fetchData()
			this.setPageTitle("Książka");
		},
		methods: {
			fetchData() {
				this.$http.get("/books/" + this.$route.params.slug).then(response => {
					this.book = response.data.data
					this.setPageTitle([this.book.title, "Książka"]);
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.book.card {
		display: flex;

		.book.details {
			padding: 0em 3em;
			width: 100%;
		}
	}
</style>
