<template>
	<div>
		<section class="header">
			<h2>
				Przeczytane książki
				<div class="table options">
					<router-link :to="{ name: 'book.list' }" class="option button" data-inverted="" data-tooltip="dodaj" data-position="right center">
						<i class="list icon"></i>
					</router-link>
				</div>
			</h2>
		</section>
		<section>
			<div class="ui tiny images">
				<router-link :to="{ name: 'book.entry', params: { slug: book.slug } }" v-for="book in books">
					<img class="ui image" :src="book.cover">
				</router-link>
			</div>
		</section>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				books: []
			}
		},
		mounted() {
			this.$http.get("/books").then(response => {
				this.books = response.data.data
			})
		}
	}
</script>

<style lang="scss" scoped>
</style>
