<template>
	<div>
		<data-table repository="books" title="Przeczytane książki" :enable-search-box="true">
			<template slot="actions">
				<router-link :to="{ name: 'book.gallery' }" class="option button" data-inverted="" data-tooltip="dodaj" data-position="right center">
					<i class="table icon"></i>
				</router-link>
			</template>
			<template slot="table-header">
				<tr>
					<td class="collapsing"></td>
					<td class="single line">
						<strong>tytuł</strong>
						<sort-toggler column="title"></sort-toggler>
						<i class="ghosted search icon"></i>
					</td>
				</tr>
			</template>
			<template slot="table-row" slot-scope="{ entry }">
				<td>
					<router-link :to="{ name: 'book.entry', params: { slug: entry.slug } }">
						<img class="ui mini image" :src="entry.cover" :alt="entry.title">
					</router-link>
				</td>
				<td class="single line">
					<router-link :to="{ name: 'book.entry', params: { slug: entry.slug } }">
						<strong>{{ entry.title }}</strong><br>
						<span class="smaller minor">{{ entry.originalTitle }}</span>
					</router-link>
				</td>
			</template>
		</data-table>
	</div>
</template>

<script>
	import DataTable from "../../Layout/Components/DataTable"
	import SortToggler from "../../Layout/Components/SortToggler"

	export default {
		components: {
			DataTable,
			SortToggler
		},
	}
</script>

<style lang="scss" scoped>
</style>
