<template>
	<div v-if="tag">
		<section class="header">
			<h1>
				<i class="hashtag icon"></i>{{ tag.name }}
			</h1>
		</section>
		<div class="ui inverted secondary pointing menu">
			<div class="active item">otagowane książki</div>
		</div>
		<section v-if="tag.books">
			<table class="ui very basic compact inverted table">
				<thead>
					<tr>
						<td class="collapsing"></td>
						<td>tytuł</td>
						<td>język</td>
						<td>stron</td>
						<td>wydana</td>
						<td>przeczytana</td>
					</tr>
				</thead>
				<tbody>
					<tr v-for="book in tag.books">
						<td>
							<router-link :to="{ name: 'book.entry', params: { slug: book.slug } }">
								<img class="ui mini image" :src="book.cover" :alt="book.title">
							</router-link>
						</td>
						<td>
							<router-link :to="{ name: 'book.entry', params: { slug: book.slug } }">
								<span class="major">{{ book.title }}</span><br>
								<span class="smaller minor">{{ book.original.title }}</span>
							</router-link>
						</td>
						<td>
							<router-link :to="{ name: 'language.entry', params: { slug: book.reading.language.slug } }">
								<i class="flag" :class="book.reading.language.symbol"></i>
								{{ book.reading.language.name }}
							</router-link>
						</td>
						<td>{{ book.pages }}</td>
						<td>{{ book.original.publication }}</td>
						<td>
							{{ book.reading.when }}<br>
							<span class="minor">{{ book.reading.readAgo}}</span>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section v-else>
			Żadna książka nie została do tej pory otagowana tagiem <strong>#{{ tag.name }}</strong>.
		</section>
	</div>
	<loader v-else></loader>
</template>

<script>
	export default {
		data() {
			return {
				tag: null,
			}
		},
		mounted() {
			this.setPageTitle("Tag");
			this.fetchData()
		},
		methods: {
			fetchData() {
				this.$http.get("/tags/" + this.$route.params.slug).then(response => {
					this.tag = response.data.data
					this.setPageTitle(["#" + this.tag.name, "tagi"])
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.tag.card {
		display: flex;

		.tag.details {
			padding: 0em 3em;
			width: 100%;
		}
	}
</style>
