<template>
	<div>
		<data-table repository="tags" title="Lista tagów" :enable-search-box="true">
			<template slot="table-header">
				<tr>
					<td>
						tag
						<sort-toggler column="name"></sort-toggler>
						<i class="ghosted search icon"></i>
					</td>
					<td>
						książek
						<sort-toggler column="count"></sort-toggler>
					</td>
					<td class="collapsing">
						ostatnio przeczytana
						<sort-toggler column="title"></sort-toggler>
					</td>
					<td class="collapsing">
						kiedy?
						<sort-toggler column="read_at"></sort-toggler>
					</td>
					<td class="collapsing">
						jak dawno?
						<sort-toggler column="read_at"></sort-toggler>
					</td>
				</tr>
			</template>
			<template slot="table-row" slot-scope="{ entry }">
				<td>
					<router-link :to="{ name: 'tag.entry', params: { slug: entry.slug } }">
						<i class="hashtag icon"></i>{{ entry.name }}
					</router-link>
				</td>
				<td>{{ entry.books }}</td>
				<td class="single line">
					<router-link :to="{ name: 'book.entry', params: { slug: entry.lastRead.slug } }" class="minor" v-if="entry.lastRead">
						{{ entry.lastRead.title }}
					</router-link>
				</td>
				<td class="single line">
					<span class="minor" v-if="entry.lastRead">
						{{ entry.lastRead.readAt }}
					</span>
				</td>
				<td class="single line">
					<span class="hiding" v-if="entry.lastRead">
						{{ entry.lastRead.readAgo }}
					</span>
				</td>
			</template>
		</data-table>
	</div>
</template>

<script>
	import DataTable from "../../Layout/Components/DataTable"
	import SortToggler from "../../Layout/Components/SortToggler"

	export default {
		components: {
			DataTable,
			SortToggler
		},
	}
</script>

<style lang="scss" scoped>
</style>
