<template>
	<div v-if="authors.length > 0">
		<hr v-if="!disableSeparator">
		<div class="authors">
			<router-link :to="{ name: 'author.entry', params: { slug: author.slug } }" class="author tag" v-for="author in authors" :key="author.slug">
				<div class="author avatar" :style="buildAvatar(author.portrait)"></div>
				<div class="author name">
						{{ author.name }}
				</div>
			</router-link>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			authors: {
				type: Array,
				required: true
			},
			disableSeparator: {
				type: Boolean,
				default: false
			}
		},
		methods: {
			buildAvatar(avatar) {
				return "background-image: url(" + avatar + ")";
			}
		}
	}
</script>

<style lang="scss" scoped>
	.authors {
		display: flex;
		flex-wrap: wrap;
		font-weight: bolder;

		& > .author.tag {
			display: flex;
			padding: .25em 0;

			$avatar_size: 32px;

			.author.avatar {
				width: $avatar_size;
				height: $avatar_size;
				background-size: cover;
				background-position: center center;
				background-clip: padding-box;
				border-radius: 100%;
			}

			.author.name {
				line-height: $avatar_size;
				margin: 0 1em;
			}
		}
	}
</style>
