<template>
	<div class="cover navigation">
		<img :src="book.cover" :alt="book.title">

		<router-link :to="{ name: 'book.entry', params: { slug: book.slug } }" class="navigator left">
			<i class="inverted circle large chevron left icon"></i>
		</router-link>
		<router-link :to="{ name: 'book.entry', params: { slug: book.slug } }" class="navigator right">
			<i class="inverted circle large chevron right icon"></i>
		</router-link>
	</div>
</template>

<script>
	export default {
		props: {
			book: {
				type: Object,
				required: true
			},
		},
	}
</script>

<style lang="scss">
	.cover.navigation {
		position: relative;

		.navigator {
			display: none;
		}

		&:hover > .navigator {
			display: block;
			position: absolute;
			top: 50%;

			&.left { left: .5em; }
			&.right { right: .25em; }
		}
	}
</style>
