<template>
	<div v-if="description">
		<hr>
		<div class="book description" v-html="quotedDescription">
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			description: {
				type: String,
				required: true
			},
		},
		computed: {
			quotedDescription() {
				return '<i class="quote left icon"></i>' + this.description
			}
		}
	}
</script>

<style lang="scss">
	.book.description {
		text-align: justify;
		line-height: 1.5em;

		.icon {
			font-size: 2em;
			opacity: .1;
			display: inline;
			padding-right: .25em;
		}

		p {
			padding: .5em 0;

			&:first-of-type {
				display: inline;
			}
		}
	}
</style>
