<template>
	<div class="ui three inverted gray statistics">
		<div class="statistic">
			<div class="value">
				{{ book.pages }}
			</div>
			<div class="label">
				stron
			</div>
		</div>
		<div class="statistic">
			<div class="text value">
				<router-link :to="{ name: 'language.entry', params: { slug: book.original.language.slug } }">
					język<br>
					{{ book.original.language.name }}
				</router-link>
			</div>
			<div class="label">
				oryginalnie
			</div>
		</div>
		<div class="statistic">
			<div class="value">
				{{ book.original.publication }}
			</div>
			<div class="label">
				rok wydania
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			book: {
				type: Object,
				required: true
			},
		},
	}
</script>

<style lang="scss" scoped>
</style>
