<template>
	<div class="ui one inverted gray statistics">
		<div class="statistic">
			<div class="value">
				<router-link  :to="{ name: 'device.entry', params: { slug: device.slug } }"><i class="icon" :class="device.icon"></i></router-link>
			</div>
			<div class="label">
				<router-link  :to="{ name: 'device.entry', params: { slug: device.slug } }">{{ device.name }}</router-link>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			device: {
				type: Object,
				required: true
			},
		},
	}
</script>

<style lang="scss" scoped>
</style>
