<template>
	<div class="ui four inverted gray statistics">
		<div class="statistic">
			<div class="text value">
				<router-link :to="{ name: 'language.entry', params: { slug: reading.language.slug } }">
					język<br>
					{{ reading.language.name }}
				</router-link>
			</div>
			<div class="label">
				przeczytano
			</div>
		</div>
		<div class="statistic">
			<div class="text value" v-html="prepareDate(reading.since )"></div>
			<div class="label">
				rozpoczęta
			</div>
		</div>
		<div class="statistic">
			<div class="value">
				{{ reading.days }}
			</div>
			<div class="label">
				dni
			</div>
		</div>
		<div class="statistic" v-if="reading.to">
			<div class="text value" v-html="prepareDate(reading.to)"></div>
			<div class="label">
				zakończona
			</div>
		</div>
		<div class="statistic" v-else>
			<div class="value">
				?
			</div>
			<div class="label">
				aktualnie czytana
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			reading: {
				type: Object,
				required: true
			},
		},
		methods: {
			prepareDate(date) {
				let lastSpace = date.lastIndexOf(" ");
				return date.substr(0, lastSpace) + "<br>" + date.substr(lastSpace + 1);
			}
		}
	}
</script>

<style lang="scss" scoped>

</style>
