<template>
	<div class="ui one inverted gray statistics">
		<div class="statistic">
			<div class="value">
				<i class="icon" :class="icon"></i>
			</div>
			<div class="label">
				{{ label }}
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			status: {
				type: Boolean,
				required: true
			},
		},
		computed: {
			icon() {
				return !this.status ? "check" : "repeat"
			},
			label() {
				return !this.status ? "czytana pierwszy raz" : "czytana ponownie"
			},
		}
	}
</script>

<style lang="scss" scoped>
</style>
