<template>
	<div v-if="tags.length > 0">
		<hr>
		<div class="ui orange tag labels">
			<router-link :to="{ name: 'tag.entry', params: { slug: tag.slug } }"  class="ui label" v-for="tag in tags" :key="tag.slug">
				{{ tag.name }}
			</router-link>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			tags: {
				type: Array,
				required: true
			},
		},
	}
</script>

<style lang="scss" scoped>
	.label {
		margin: .5em 1em !important;
	}
</style>
