<template>
	<div>
		<h1>{{ book.title }}</h1>

		<h2 v-if="readOriginal">
			(<a href="#">{{ book.original.language.abbreviation }}</a>)
			{{ book.original.title }}
		</h2>
	</div>
</template>

<script>
	export default {
		props: {
			book: {
				type: Object,
				required: true
			},
		},
		computed: {
			readOriginal() {
				return !!this.book.reading.language.slug.localeCompare(this.book.original.language.slug)
			}
		}
	}
</script>

<style lang="scss" scoped>
	h1 {
		margin-bottom: 0;
		font-size: 2.5em;
	}

	h2 {
		margin-top: 0;
		font-size: 1.25em;
		font-weight: normal;
		color: rgba(White, .25)
	}
</style>
