<template>
	<div v-if="author">
		<section class="author card">
			<div class="author cover">
				<portrait :author="author"></portrait>
			</div>
			<div class="author details">
				<name :author="author"></name>
				<author-details :author="author"></author-details>
			</div>
		</section>
		<section v-if="author.books.length">
			<book-list :books="author.books"></book-list>
		</section>
	</div>
	<loader v-else></loader>
</template>

<script>
	import AuthorDetails from "./Components/Details.vue"
	import BookList from "./Components/BookList.vue"
	import Name from "./Components/Name.vue"
	import Portrait from "./Components/Portrait.vue"

	export default {
		components: {
			AuthorDetails,
			BookList,
			Name,
			Portrait,
		},
		data() {
			return {
				author: null,
			}
		},
		mounted() {
			this.setPageTitle("Autor");
			this.fetchData()
		},
		methods: {
			fetchData() {
				this.$http.get("/authors/" + this.$route.params.slug).then(response => {
					this.author = response.data.data
					this.setPageTitle([this.author.firstName + " " + this.author.lastName, "Książka"])
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.author.card {
		display: flex;

		.author.details {
			padding: 0em 3em;
			width: 100%;
		}
	}
</style>
