<template>
	<div>
		<data-table repository="authors" title="Autorzy książek" :enable-search-box="true">
			<template slot="table-header">
				<tr>
					<td class="collapsing"></td>
					<td class="single line">
						<strong>nazwisko</strong>, imię
						<sort-toggler column="name"></sort-toggler>
						<i class="ghosted search icon"></i>
					</td>
					<td>
						język prac
						<sort-toggler column="language"></sort-toggler>
					</td>
					<td class="collapsing">
						płeć
						<sort-toggler column="gender"></sort-toggler>
					</td>
					<td class="collapsing">
						książek
						<sort-toggler column="books"></sort-toggler>
					</td>
					<td>
						ostatnio czytana
						<sort-toggler column="read"></sort-toggler>
					</td>
				</tr>
			</template>
			<template slot="table-row" slot-scope="{ entry }">
				<td>
					<router-link :to="{ name: 'author.entry', params: { slug: entry.slug } }">
						<img class="ui mini image" :src="entry.portrait" :alt="entry.firstName + ' ' + entry.lastName">
					</router-link>
				</td>
				<td class="single line">
					<router-link :to="{ name: 'author.entry', params: { slug: entry.slug } }">
						<strong>{{ entry.lastName }}</strong><br>
						{{ entry.firstName }}
					</router-link>
				</td>
				<td class="single line">
					<router-link :to="{ name: 'language.entry', params: { slug: entry.language.slug } }">
						<i class="flag" :class="entry.language.symbol"></i>
						{{ entry.language.name }}
					</router-link>
				</td>
				<td>
					<i class="icon" :class="entry.gender.icon"></i>
				</td>
				<td>
					{{ entry.booksCount }}
				</td>
				<td v-if="entry.lastBook">
					<strong>{{ entry.lastBook.title }}</strong><br>
					<span class="minor">{{ entry.lastBook.read_at }}</span>
				</td>
				<td v-else></td>
			</template>
		</data-table>
	</div>
</template>

<script>
	import DataTable from "../../Layout/Components/DataTable"
	import SortToggler from "../../Layout/Components/SortToggler"

	export default {
		components: {
			DataTable,
			SortToggler
		},
	}
</script>

<style lang="scss" scoped>
</style>
