<template>
	<div>
		<section class="header">
			<h2>
				{{ title }}
				<div class="table options">
					<slot name="actions"></slot>
					<button class="option button" data-inverted="" data-tooltip="zresetuj filtry i sortowania" data-position="right center" @click="resetFilters()" v-if="showResetButton">
						<i class="close icon" :class="{ 'notched circle loading': statuses.reseting }"></i>
					</button>
					<button class="option button" data-inverted="" data-tooltip="odśwież tabelę" data-position="right center" @click="reloadData()">
						<i class="refresh icon" :class="{ 'notched circle loading': statuses.reloading }"></i>
					</button>
					<button class="option button" data-inverted="" data-tooltip="dodaj" data-position="right center" v-if="$store.getters['user']">
						<i class="plus icon"></i>
					</button>
				</div>
			</h2>
		</section>
		<section v-if="searchBoxEnabled" class="search section">
			<div class="ui fluid inverted transparent icon input">
				<input placeholder="Przeszukaj tabelę..." type="text" v-model="dataTable.requestParameters.searchPhrase">
				<i class="search icon" :class="{ 'notched circle loading': statuses.searching }"></i>
			</div>
		</section>
		<div v-if="statuses.fetched">
			<section v-if="dataTable.dataset.length">
				<table class="ui very basic compact inverted table">
					<thead>
						<slot name="table-header"></slot>
					</thead>
					<tbody>
					<tr v-for="entry in dataTable.dataset">
						<slot name="table-row" v-bind:entry="entry"></slot>
					</tr>
					</tbody>
				</table>
			</section>
			<div v-else>
				<section v-if="!emptyListSearchMode">
					Nie odnaleziono wyników spełniających zadane kryteria.
				</section>
			</div>
		</div>
		<loader v-else></loader>
	</div>
</template>

<script>
	import SortToggler from "../../Layout/Components/SortToggler"

	export default {
		components: {
			SortToggler,
		},
		props: {
			title: {
				type: String,
				required: true
			},
			repository: {
				type: String,
				required: true
			},
			enableSearchBox: {
				type: Boolean,
				default: false
			},
			emptyListSearchMode: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return {
				dataTable: {
					dataset: [],
					requestParameters: {
						searchPhrase: "",
						sortBy: "",
						orderBy: "",
					},
				},
				statuses: {
					fetched: false,
					reloading: false,
					reseting: false,
					searching: false,
				},
				timeout: null,
			}
		},
		computed: {
			showResetButton: function() {
				return this.dataTable.requestParameters.searchPhrase !== "" ||
					this.dataTable.requestParameters.sortBy !== "" ||
					this.dataTable.requestParameters.orderBy !== ""
			},
			searchBoxEnabled: function() {
				if(this.emptyListSearchMode) {
					return true
				}

				return this.enableSearchBox && (this.statuses.fetched && (this.dataTable.dataset.length || this.dataTable.requestParameters.searchPhrase))
			}
		},
		mounted() {
			this.setPageTitle(this.title)

			if(this.emptyListSearchMode) {
				this.statuses.fetched = true
			}

			if(!this.$store.getters[this.repository]) {
				this.fetchData()
			} else {
				this.dataTable = this.$store.getters[this.repository]
				this.resetAllStatuses()
			}
		},
		methods: {
			fetchData() {
				this.$http.get("/" + this.repository, { params: this.dataTable.requestParameters }).then(response => {
					this.dataTable.dataset = response.data.data
					this.$store.commit("cacheTable", { name: this.repository, data: this.dataTable })
					this.resetAllStatuses()
				})
			},
			resetFilters() {
				this.dataTable.requestParameters.searchPhrase = ""
				this.dataTable.requestParameters.sortBy = ""
				this.dataTable.requestParameters.orderBy = ""
				this.fetchData()
			},
			reloadData(clearDataset = true) {
				this.statuses.reloading = true
				if(clearDataset) {
					this.statuses.fetched = false
					this.dataTable.dataset = []
				}
				this.fetchData()
			},
			toggleSorting(column) {
				if(column === this.dataTable.requestParameters.sortBy) {
					this.dataTable.requestParameters.orderBy = this.dataTable.requestParameters.orderBy === "ascending" ? "descending" : "ascending"
				} else {
					this.dataTable.requestParameters.orderBy = "ascending"
				}

				this.dataTable.requestParameters.sortBy = column
				this.reloadData(false)
			},
			getSortingClass(column) {
				if(column === this.dataTable.requestParameters.sortBy) {
					return this.dataTable.requestParameters.orderBy === "ascending" ? "ascending" : "descending"
				}
				return ""
			},
			resetAllStatuses() {
				this.statuses.fetched = true
				this.statuses.reloading = false
				this.statuses.reseting = false
				this.statuses.searching = false
			}
		},
		watch: {
			"dataTable.requestParameters.searchPhrase": function() {
				clearTimeout(this.timeout)
				this.statuses.searching = true
				this.timeout = setTimeout(() => {
					this.fetchData()
				}, 500)
			},
			$route: function() {
				this.$forceUpdate()
			}
		}
	}
</script>

<style lang="scss" scoped>
	h2 {
		margin-bottom: 0;
	}

	$search-section-padding: 1.5em;
	section.search.section {
		padding-top: $search-section-padding !important;
		padding-bottom: $search-section-padding !important;
		margin-bottom: 1.5em !important;
	}

	.sort.icon {
		cursor: pointer;
	}
</style>
