<template>
	<i class="sort icon" :class="$parent.getSortingClass(column)" @click="$parent.toggleSorting(column)"></i>
</template>

<script>
	export default {
		props: {
			column: {
				type: String,
				required: true
			},
		},
	}
</script>

<style lang="scss" scoped>
</style>
