<template>
	<div>
		<section>
			<recently-read></recently-read>
		</section>
		<section class="invisible grid">
			<section class="two quarter column">
				<recently-read-list></recently-read-list>
			</section>
			<section class="one quarter column">
				<h3>Trend książek</h3>
				<hr>
				<reading-trend url="/dashboard/trend/books"></reading-trend>
				<h3>Trend stron</h3>
				<hr>
				<reading-trend url="/dashboard/trend/pages"></reading-trend>
			</section>
		</section>
		<section class="invisible grid" v-if="false">
			<section class="one quarter column">
				<random-author></random-author>
			</section>
			<section class="two quarter column">
				<h3>Krótkie statystyki</h3>
				<hr>
			</section>
		</section>
	</div>
</template>

<script>
	import RandomAuthor from "./Components/RandomAuthor"
	import ReadingTrend from "./Components/ReadingTrend"
	import RecentlyRead from "./Components/RecentlyRead"
	import RecentlyReadList from "./Components/RecentlyReadList"

	export default {
		components: {
			RandomAuthor,
			ReadingTrend,
			RecentlyRead,
			RecentlyReadList,
		},
		mounted() {
			this.setPageTitle("Strona główna");
		},
	}
</script>

<style lang="scss" scoped>
</style>
