<template>
	<div>
		<h3>
			<span class="hiding">Losowy autor:</span>
			<router-link :to="{ name: 'author.entry', params: { slug: author.slug } }">
				{{ author.name }}
			</router-link>
		</h3>
		<hr>
		<div class="random author box">
			<router-link :to="{ name: 'author.entry', params: { slug: author.slug } }">
				<img :src="author.portrait" :alt="author.name" class="ui author small image">
			</router-link>
			<div class="book gallery">
				<router-link :to="{ name: 'book.entry', params: { slug: book.slug } }" v-for="book in author.books" :key="book.slug">
					<img :src="book.cover" class="ui tiny image">
				</router-link>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				author: {
					name: "James Luceno",
					slug: "james-luceno",
					portrait: "http://bookeshelf.local/images/portraits/jamesluceno.png",
					books: [
						{
							cover: "http://bookeshelf.local/images/covers/probabohatera.png",
							slug: "proba-bohatera"
						},
						{
							cover: "http://bookeshelf.local/images/covers/labiryntzla.png",
							slug: "labirynt-zla"
						},
					]
				}
			}
		},
	}
</script>

<style lang="scss" scoped>
	.random.author.box {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		.book.gallery {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;

			a:not(:first-of-type) {
				margin-top: .5em;
			}

			img {
				opacity: 0.25;
				transition: all .5s ease-in-out;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
</style>
