<template>
	<div class="book list">
		<h3>Ostatnio przeczytane</h3>
		<hr>
		<table class="ui very basic compact inverted table">
			<tbody>
				<tr v-for="book in books">
					<td>
						<router-link :to="{ name: 'book.entry', params: { slug: book.slug } }">
							<img class="ui mini image" :src="book.cover" :alt="book.title">
						</router-link>
					</td>
					<td>
						<router-link :to="{ name: 'book.entry', params: { slug: book.slug } }">
							<span class="major">{{ book.title }}</span><br>
							<span class="smaller minor">{{ book.originalTitle }}</span>
						</router-link>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				books: []
			}
		},
		mounted() {
			this.$http.get("/dashboard/recent/13").then(response => {
				this.books = response.data.data
			})
		}
	}
</script>

<style lang="scss">
</style>
