<template>
	<div class="recently read" v-if="book">
		<router-link :to="{ name: 'book.entry', params: { slug: book.slug } }" class="cover container">
			<img :src="book.cover" :alt="book.title" class="ui image">
		</router-link>
		<div class="about">
			<h3 class="minor section title">{{ sectionTitle }}:</h3>
			<h1>
				<router-link :to="{ name: 'book.entry', params: { slug: book.slug } }">
					{{ book.title }}
				</router-link>
			</h1>
			<h3>
				<router-link class="minor author" :to="{ name: 'author.entry', params: { slug: author.slug } }" v-for="author in book.authors" :key="author.slug">
					<i class="circle inverted user icon"></i>
					{{ author.firstName }} {{ author.lastName }}
				</router-link>
				<a class="minor author">
					<i class="circle inverted question icon"></i>
					{{ book.device.name }}
				</a>
			</h3>
			<hr>
			<div class="ui three inverted gray statistics">
				<div class="statistic">
					<div class="value">
						{{ book.pages }}
					</div>
					<div class="label">
						stron
					</div>
				</div>
				<div class="statistic">
					<div class="text value">
						5 dni<br>
						temu
					</div>
					<div class="label">
						rozpoczęta
					</div>
				</div>
				<div class="statistic">
					<div class="text value">
						język<br>
						polski
					</div>
					<div class="label">
						czytana
					</div>
				</div>
			</div>
		</div>
	</div>
	<loader v-else></loader>
</template>

<script>
	import Authors from "../../Book/Components/Authors";

	export default {
		components: { Authors },
		computed: {
			sectionTitle() {
				return this.book.read ? "Ostatnio czytana" : "Aktualnie czytana"
			}
		},
		data() {
			return {
				book: null
			}
		},
		mounted() {
			this.$http.get("/dashboard/recent").then(response => {
				this.book = response.data.data
			})
		}
	}
</script>

<style lang="scss" scoped>
	.recently.read {
		display: flex;
		align-items: center;

		h1, h3 {
			margin-top: 0;
		}

		.section.title {
			margin-bottom: .5em;
			font-weight: normal;
		}

		.author {
			padding-right: 1em;
		}

		.cover.container {
			margin-right: 3em;

			img {
				width: 200px;
			}
		}

		.about {
			flex: 1;
		}
	}
</style>
